* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSan-Regular;
  src: url(fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSan-Italic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: GillSan-Bold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: GillSan-BoldItalic;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}
nav,
a,
footer {
  font-family: GillSan-Regular;
}

.blackText {
  color: #000000;
}

.black-hr {
  background-color: #000000;
  border: 1px solid #000000;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}

.whiteText {
  color: #ffffff;
}

.white-hr {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  max-width: 980px;
  margin: 0 auto;
  margin-top: 5px;
  position: relative;
  z-index: 99;
}

#app {
  z-index: 2;
}

nav {
  height: 50px;
  max-width: 980px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
nav img {
  margin-right: 15%;
}
nav a {
  text-decoration: none;
}
nav span {
  color: #ee4367;
  font-size: 21px;
}

footer {
  height: 455px;
  background-color: #ee4367;
  color: rgba(255, 255, 255, 0.5);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}
footer p {
  color: #ffffff;
  text-align: center;
}
footer .newspaper-Box {
  height: 60px;
  max-width: 100%;
  display: flex;
}
footer .newspaper-Box .email-Box {
  height: 100%;
  width: 529px;
  border-style: none;
  background-color: #f56b88;
  color: #ffffff;
  padding-left: 15px;
  font-size: 16px;
}
footer .newspaper-Box ::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
footer .newspaper-Box .subscribe-Box {
  height: 100%;
  width: 167px;
  color: #ee4367;
  background-color: #ffffff;
  border-style: none;
  font-size: 16px;
}
footer span {
  font-size: 32px;
  color: #ffffff;
}

.home-img {
  margin: -80px auto 0 auto;
  height: 500px;
  background-image: linear-gradient(rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.8)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-img h1,
.home-img p {
  color: #ffffff;
}
.home-img h2,
.home-img p {
  font-family: GillSan-Italic;
}
.home-img h1 {
  font-family: GillSan-Regular;
}
.home-img h2 {
  color: #ee4367;
}
.home-img p {
  font-size: 20px;
  margin: 38px 20px 0;
}
.home-img .readMoreBTN {
  height: 40px;
  width: 122px;
  background-color: #ee4367;
  color: #ffffff;
  border-style: none;
  margin-top: 38px;
}

.quote-Section {
  margin: 0 auto;
  min-height: 300px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5% 15%;
}
.quote-Section h3 {
  color: #ffd140;
  font-family: GillSan-BoldItalic;
  font-size: 20px;
  margin-bottom: 20px;
}
.quote-Section .author-Text {
  color: #ee4367;
  font-size: 17px;
  font-family: GillSan-Regular;
}
.quote-Section .jobTitle-Text {
  color: #a8a8a8;
  font-size: 10px;
  font-family: GillSan-Regular;
}

.event-Section {
  margin: 0 auto;
  background-color: #540d6e;
  min-height: 320px;
  font-family: GillSan-Regular;
}
.event-Section .quote-Title {
  padding-top: 38px;
  margin-left: 40px;
}
.event-Section .quote-Title h1 {
  color: #ffffff;
}
.event-Section .quote-Title hr {
  background-color: #ffffff;
  width: 392px;
  border: 1px solid #ffffff;
}
.event-Section .date-Section {
  min-height: 125px;
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 1110px) {
  .event-Section {
    padding-bottom: 30px;
  }

  .date-Section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.event-Box {
  height: 100%;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
}

.date-Box {
  height: 60px;
  width: 60px;
  background-color: #ee4367;
  color: #ffffff;
  padding: 4px 17px;
  margin-right: 20px;
}
.date-Box .dateNumber {
  font-family: GillSan-Bold;
  font-size: 22px;
}
.date-Box .dateMonth {
  font-family: GillSan-Regular;
  font-size: 14px;
}

.date-Text {
  width: 140px;
}
.date-Text h3 {
  color: #ffffff;
  font-size: 15px;
  font-family: GillSan-Regular;
  height: 40px;
  overflow: hidden;
}
.date-Text p {
  color: #ee4367;
  font-size: 13px;
  font-family: GillSan-Bold;
  margin-top: 10px;
  overflow: hidden;
}

/*# sourceMappingURL=styles.css.map */
