.about-img {
  margin: 0 auto;
  height: 379px;
  max-width: $nav-width;
  //   background-color: red;
  background-image: linear-gradient(
      rgba($site-yellow, 0.5),
      rgba($site-yellow, 0.7)
    ),
    url(../images/about.jpg);
  background-position: center;
  background-size: cover;
  margin-top: 80px;
}
.aboutText {
  max-width: $nav-width;
  margin-bottom: 85px;

  .aboutTitle,
  p {
    margin-left: 0px;
    margin-right: 0px;
  }
  .aboutTitle {
    margin-top: -35px;
  }
  p {
    margin-top: 30px;
  }
  @media screen and (max-width: 979px) {
    .aboutText,
    p {
      margin-left: 20px;
      margin-right: 20px;
    }
  }
}
