.blogHeader {
  height: 300px;
  background-color: $site-pink;
  margin: 55px 0;
  background-image: linear-gradient(
      rgba($site-pink, 0.5),
      rgba($site-pink, 0.7)
    ),
    url(../images/blog.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .date-Box {
    height: 155.25px;
    width: 155.25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    .dateNumber {
      font-size: 55px;
    }
    .dateMonth {
      font-size: 31px;
    }
  }
}
