.home-img {
  margin: 0 auto;
  height: 500px;
  // max-width: $site-width;
  //   max-width: 100%;
  background-image: linear-gradient(
      rgba($site-yellow, 0.8),
      rgba($site-yellow, 0.8)
    ),
    url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  // position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // Text
  h1,
  p {
    color: #ffffff;
  }
  h2,
  p {
    font-family: GillSan-Italic;
  }
  h1 {
    font-family: GillSan-Regular;
  }
  h2 {
    color: $site-pink;
  }
  p {
    font-size: 20px;
    margin: 48px 20px;
  }
  .readMoreBTN {
    height: 40px;
    width: 122px;
    background-color: $site-pink;
    color: #ffffff;
    border-style: none;
  }
}

.quote-Section {
  margin: 0 auto;
  height: 300px;
  // width: $site-width;
}

.event-Section {
  margin: 0 auto;
  background-color: $site-purple;
  height: 320px;
  // max-width: $site-width;
}
