.home-img {
  margin: -80px auto 0 auto;
  height: 500px;
  // max-width: $site-width;
  //   max-width: 100%;
  background-image: linear-gradient(
      rgba($site-yellow, 0.8),
      rgba($site-yellow, 0.8)
    ),
    url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  // position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  // Text
  h1,
  p {
    color: #ffffff;
  }
  h2,
  p {
    font-family: GillSan-Italic;
  }
  h1 {
    font-family: GillSan-Regular;
  }
  h2 {
    color: $site-pink;
  }
  p {
    font-size: 20px;
    margin: 38px 20px 0;
  }
  .readMoreBTN {
    height: 40px;
    width: 122px;
    background-color: $site-pink;
    color: #ffffff;
    border-style: none;
    margin-top: 38px;
  }
}

.quote-Section {
  margin: 0 auto;
  min-height: 300px;
  // width: $site-width;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 5% 15%;
  // margin-left: 245px;
  // padding: 77px 245px;
  h3 {
    color: $site-yellow;
    font-family: GillSan-BoldItalic;
    font-size: 20px;
    // height: 90px;
    // width: 789px;
    margin-bottom: 20px;
  }
  .author-Text {
    color: $site-pink;
    font-size: 17px;
    font-family: GillSan-Regular;
  }
  .jobTitle-Text {
    color: #a8a8a8;
    font-size: 10px;
    font-family: GillSan-Regular;
  }
}

.event-Section {
  margin: 0 auto;
  background-color: $site-purple;
  height: 320px;
  // max-width: $site-width;
  font-family: GillSan-Regular;
  .quote-Title {
    padding-top: 38px;
    margin-left: 40px;
    h1 {
      color: #ffffff;
    }
    hr {
      background-color: #ffffff;
      width: 392px;
      border: 1px solid #ffffff;
    }
  }

  .date-Section {
    // background-color: antiquewhite;
    height: 125px;
    margin-top: 35px;
    display: flex;
    // align-items: center;
    justify-content: space-around;
  }
}
