// width and margins for anytime a hr is used
@mixin horizontal-rule($hr-width: 980px) {
  max-width: $hr-width;
  margin: 0 auto;
  margin-top: 5px;
}

// Set Image position & Size
@mixin IMG-Dimensions() {
  background-position: center;
  background-size: contain;
}
