* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

// fonts
@font-face {
  font-family: GillSan-Regular;
  src: url(fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSan-Italic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: GillSan-Bold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: GillSan-BoldItalic;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}

nav,
a,
footer {
  // font-family: $Gill-Sans;
  font-family: GillSan-Regular;
}

#app {
}
