* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

h1,
nav,
a,
footer,
button,
input {
  font-family: GillSan-Regular;
}
h2,
p {
  font-family: GillSan-Italic;
}

// fonts
@font-face {
  font-family: GillSan-Regular;
  src: url(fonts/PTSerif-Regular.ttf);
}
@font-face {
  font-family: GillSan-Italic;
  src: url(fonts/PTSerif-Italic.ttf);
}
@font-face {
  font-family: GillSan-Bold;
  src: url(fonts/PTSerif-Bold.ttf);
}
@font-face {
  font-family: GillSan-BoldItalic;
  src: url(fonts/PTSerif-BoldItalic.ttf);
}

.blackText {
  color: #000000;
}
.black-hr {
  background-color: #000000;
  border: 1px solid #000000;
  @include horizontal-rule;
  // position: relative;
  // z-index: 99;
}
.whiteText {
  color: #ffffff;
  // color: #ff0000;
}
.white-hr {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  // border: 1px solid #ff0000;
  @include horizontal-rule;
  position: relative;
  z-index: 99;
}

#app {
  z-index: 2;
}

.wrapper {
  max-width: $nav-width;
  margin: 0 auto;
  .black-hr {
    @include horizontal-rule($hr-width: 229px);
    margin-left: 0;
  }
}
