// site-colors
$site-purple: #540d6e;
$site-pink: #ee4367;
$site-yellow: #ffd140;
$site-teal: #3bceab;
$site-green: #08ad69;
$site-white: #ffffff;

// site dimensions
$site-width: 1280px;

$footer-height: 455px;
$nav-width: 980px;
