.gallery-Pic1,
.gallery-Pic2,
.gallery-Pic3,
.gallery-Pic4,
.gallery-Pic5 {
  @include IMG-Dimensions;
}
.gallery-Pic1 {
  background-image: linear-gradient(
      rgba($site-yellow, 0.65),
      rgba($site-yellow, 0.7)
    ),
    url(../images/gallery/1.png);
}
.gallery-Pic2 {
  background-image: linear-gradient(
      rgba($site-pink, 0.65),
      rgba($site-pink, 0.7)
    ),
    url(../images/gallery/2.jpeg);
}
.gallery-Pic3 {
  background-image: linear-gradient(
      rgba($site-green, 0.65),
      rgba($site-green, 0.7)
    ),
    url(../images/gallery/3.jpg);
}
.gallery-Pic4 {
  background-image: linear-gradient(
      rgba($site-purple, 0.65),
      rgba($site-purple, 0.7)
    ),
    url(../images/gallery/4.jpg);
}
.gallery-Pic5 {
  background-image: linear-gradient(
      rgba($site-teal, 0.65),
      rgba($site-teal, 0.7)
    ),
    url(../images/gallery/5.png);
}
