.gallery-Section {
  max-width: $nav-width;
  min-height: 400px;
  //   background-color: aqua;
  margin: 30px 0 60px;
  .img-Section1 {
    // width: 100%;
    height: 187px;
    // background-color: beige;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-Link1,
    .img-Link2,
    .img-Link3 {
      height: 100%;
    }
    .img-Link1 {
      width: 489px;
    }
    .img-Link2 {
      width: 187px;
    }
    .img-Link3 {
      width: 265px;
    }
    // img {
    //   height: 100%;
    //   width: 100%;
    //   @include IMG-Dimensions;
    // }
  }
  .img-Section2 {
    // width: 100%;
    height: 306px;
    // background-color: gold;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .img-Link4,
    .img-Link5 {
      height: 100%;
    }
    .img-Link4 {
      width: 603px;
    }
    .img-Link5 {
      width: 355px;
    }
  }
}

.title-Img {
  max-width: $nav-width;
  height: 400px;
  margin: 50.5px 0;
}
.galleryTitle-text {
  font-size: 130px;
  //   font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: -285px;
  text-shadow: 5px 6px 6px rgba(#000000, 0.6);
  .galleyTitleNum {
    font-size: 220px;
  }
}

.galleryP {
  min-height: 133px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
  margin-bottom: 73px;
  p {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .galleryP {
    margin: 0 15px;
  }
}

@media screen and (max-width: 995px) {
  // .galleryTitle-text {
  //   margin-top: -50%;
  // }
  .yellowText {
    margin-top: -490px;
    .galleryTitle-text {
      font-size: 130px;
    }
  }
}

@media screen and (max-width: 603px) {
  .pinkText {
    .galleryTitle-text {
      font-size: 80px;
      margin-top: -60%;
    }
  }
}
@media screen and (max-width: 625px) {
  .greenText {
    .galleryTitle-text {
      // font-size: 80px;
      margin-top: -80%;
    }
  }
}
@media screen and (max-width: 935px) {
  .purpleText {
    .galleryTitle-text {
      margin-top: -465px;
    }
  }
}
@media screen and (max-width: 1000px) {
  .tealText {
    .galleryTitle-text {
      font-size: 12vw;

      // .galleyTitleNum {
      //   font-size: 18vw;
      // }
    }
  }
}

@media screen and (max-width: 736px) {
  .tealText {
    .galleryTitle-text {
      margin-top: -420px;
    }
  }
}
