.yellowText {
  color: $site-yellow;
}
.pinkText {
  color: $site-pink;
}
.greenText {
  color: $site-green;
}
.purpleText {
  color: $site-purple;
  .galleryTitle-text {
    font-size: 110px;
  }
}
.tealText {
  color: $site-teal;
}
