nav {
  height: 50px;
  max-width: 980px;
  //   background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  z-index: 99;
  // border-bottom: 2px solid #000000;
  img {
    margin-right: 15%;
  }
  a {
    text-decoration: none;
  }
  span {
    color: $site-pink;
    font-size: 21px;
  }
}
